.imgcontent {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  }
  .section.block{
    height: 500px;
  }
.section-heading span{
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #ea3844;
    margin-top:70px;
}
.section-heading h4{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #2c3691;
    margin-top: 50px;
}
.text-content p{
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 190%;
    margin-top: 50px;
}
.vido iframe{
    margin-top: 100px;
}
.section-headings span{
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #ea3844;
    margin-top:70px;
    padding-left: 470px;
}
.section-headings h3{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #111;
    line-height: 130%;
    margin-top: 30px;
    text-align: center;
}
.card h4{
    color: red;
}
.if{

    padding-bottom: 50px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 0px;
}
#applyOnline{
    color: white;
    background-color: rgb(29, 6, 113);
    border: none;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
  
  }
  .online{
    margin-top: 30px;
    padding: 40px;
    border: 1px solid rgb(194, 190, 190);
    display: flex;
    justify-content: space-around;
  }
  .online > h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .footer{
    width: 100vw;
    background-color:#2e358f;
    color: white;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    height: auto;
  }
  .innerfoot{
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 1100px;
  
  }